html {
  text-size-adjust: 100%;
  height: 100%;
}

body {
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/geometry2.png');
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
  font: 16px / 1 sans-serif;
}

.rainBox {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgb(30, 178, 224);
  width: 550px;
  height: 350px;
  border-radius: 10px;
}

button {

  margin-bottom: 4em;
}
